<div @*class="jumbotron"*@>
    <h1>GCFlix</h1>
    <br />
    <form action="/Home/SearchMovieByTitle" method="get">
        <label class="form-control">Enter Movie Title</label>
        <input type="text" name="title" class="form-control" />
        <br />
        <input type="submit" value="Search" />
    </form>
    <br />
    <table class="table" value="Movie Vault" border="1">
        <tr>
            <td><label>Title</label></td>
            <td><label>Category</label></td>
            <td><label>Description</label></td>
        </tr>
        @foreach (var movie in ViewBag.movie)
        {
            <tr>
                <td>@movie.title</td>
                <td>@movie.category</td>
                <td>@movie.description</td>
            </tr>
        }
    </table>
    <br />
    <br />
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2>List of movie Categories</h2>
        <p>Click below to see a list of movie categories.</p>
        <p><a class="btn btn-default" href="/Home/MovieVault">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get A Random Movie Pick</h2>
        <p>Click below to see a random pick.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List of movie Categories</h2>
        <p>Click below to see a list of movie categories.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
